:root {
	font-size: 62.5%;
}
.pr {
	position: relative;
}
.pa {
	position: absolute;
}
.df {
	display: flex;
}
.profile img {
	width: 100%;
	height: 700px;
	margin-left: 40%;
}
.flexbox {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
}
.container {
	width: 100%;
	max-width: 160rem;
	margin: auto;
}
.button {
	padding: 1.1rem 3rem;
	border-radius: 3rem;
	background: linear-gradient(260deg, #9be15d 5.61%, #00d9a6 93.8%);
	line-height: 1.7;
	transition: all 0.5s;
	color: #fff;
	/* btn-shadow */
	box-shadow: 6px 6px 37px 6px rgba(0, 217, 166, 0.46);
}
.button:hover {
	border-radius: 3rem;
	background: radial-gradient(150.69% 139.2% at 50% 56.52%, #9be15d 0%, #00d9a6 100%);
	box-shadow: 0px 0px 10px 6px rgba(0, 217, 166, 0.46);
}
.button i {
	margin-right: 0.8rem;
}
body {
	font-family: 'Pretendard', sans-serif;
	font-size: 1.6rem;
	color: #25262a;
	letter-spacing: -2px;
}
a {
	color: #25262a;
	font-size: 1.6rem;
	letter-spacing: 0px;
}
.section_title .point {
	color: #00d9a6;
}
.section_title {
	margin: 0 auto 4em;
	color: #25262a;
	font-size: 50px;
	font-weight: 500;
	height: 9rem;
	line-height: 9rem;
	display: table;
	white-space: nowrap;
}
.section_title:before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 10px;
	height: 4px;
	border-radius: 40px;
	background: linear-gradient(-90deg, #9be15d 5.61%, #00d9a6 93.8%);
}
.section_title:after {
	content: '';
	position: absolute;
	width: 4rem;
	height: 4px;
	border-radius: 40px;
	background: linear-gradient(-90deg, #9be15d 5.61%, #00d9a6 93.8%);
	margin-left: 0rem;
	top: 0;
	left: 15px;
}
.section_title span.line {
	content: '';
	position: relative;
	top: 90px;
	left: 100%;
	width: 10px;
	height: 4px;
	border-radius: 40px;
	background: linear-gradient(90deg, #9be15d 5.61%, #00d9a6 93.8%);
	display: block;
}
.section_title span.line:before {
	content: '';
	position: absolute;
	width: 4rem;
	height: 4px;
	border-radius: 40px;
	background: linear-gradient(90deg, #9be15d 5.61%, #00d9a6 93.8%);
	top: 0;
	left: -50px;
}
section {
	margin-bottom: 15rem;
}
header .container {
	justify-content: center;
}
header {
	margin-bottom: 10rem;
}
header .gnb {
	padding: 5rem 0;
	margin-left: 25.6rem;
	gap: 3.2rem;
}
header ul li a {
	font-size: 1.8rem;
}
header .hero-left {
	margin-top: 10vw;
	flex-direction: column;
	gap: 10rem;
}
header .hero-text {
	box-sizing: border-box;
	width: 54.4rem;
	font-weight: 600;
	overflow: hidden;
	height: 9rem;
	padding: 1.6rem;
	margin-left: 13.6rem;
}
header .hero-text:before {
	content: '[';
	left: 0;
	top: 4rem;
}
header .hero-text:after {
	content: ']';
	position: absolute;
	right: 0;
	top: 4rem;
}
header .hero-text:after,
header .hero-text:before {
	color: #16a085;
	font-size: 4rem;
	line-height: 4rem;
	animation-name: opacity;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}
header .hero-text-1 {
	display: inline-block;
	margin-left: 1.6rem;
	color: #25262a;
	font-size: 4rem;
	font-weight: 900;
	line-height: 9rem;
}
header .hero-text-2 {
	position: absolute;
	right: 4rem;
	top: 2.2rem;
	animation-name: change;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	color: #50535c;
	font-size: 4rem;
	font-style: normal;
	font-weight: 400;
	line-height: 8rem;
	/* 156% */
	flex-direction: column;
}
header .hero-text-2 li {
	line-height: 8rem;
	margin: 0;
}
@keyframes opacity {
	0%,
	100% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}
@keyframes change {
	0%,
	12.66%,
	100% {
		transform: translate3d(0, 0, 0);
	}
	16.66%,
	29.32% {
		transform: translate3d(0, -25%, 0);
	}
	33.32%,
	45.98% {
		transform: translate3d(0, -50%, 0);
	}
	49.98%,
	62.64% {
		transform: translate3d(0, -75%, 0);
	}
	66.64%,
	79.3% {
		transform: translate3d(0, -50%, 0);
	}
	83.3%,
	95.96% {
		transform: translate3d(0, -25%, 0);
	}
}
header .hero-btn {
	justify-content: center;
	gap: 3.2rem;
}
header .hero-img {
	width: 95.2rem;
	padding-bottom: 48.5%;
	height: 0;
}
header .hero-img img {
	width: 60%;
	-o-object-fit: scale-down;
	object-fit: scale-down;
	position: absolute;
	top: -7rem;
	left: 25rem;
}
.about {
	letter-spacing: -1px;
}
.about .df {
	gap: 6.4rem;
	justify-content: center;
	line-height: 1.75;
}
.about .left {
	width: 52.8rem;
	background-color: #ecf2f6;
	padding: 3.2rem;
	box-sizing: border-box;
	border-radius: 2rem;
}
.about .left div {
	font-size: 2rem;
}
.about .left div:not(:first-child) {
	margin-top: 2rem;
}
.about .left p {
	letter-spacing: 0px;
	color: #50535c;
}
.about .right {
	width: 52.8rem;
	background-color: #ecf2f6;
	padding: 3.2rem;
	box-sizing: border-box;
	border-radius: 2rem;
}
.about .right div {
	font-size: 2rem;
}
.about .right div:not(:first-child) {
	margin-top: 2rem;
}
.about .right p {
	color: #50535c;
}



.projects .container {
	width: 100%;
	height: 100%;
	margin-top: 6.4rem;
}
.projects .thumb {
	height: 80rem;
	width: 70%;
	max-width: 95.2rem;
	transition: left 1s ease-in-out, right 1s ease-in-out;
}
.projects .desc.left {
	left: 0%;
}
.projects .desc.right {
	right: 0%;
}
.projects .thumb.left {
	left: -100%;
}
.projects .thumb.right {
	right: -100%;
}
.projects.is-animated .right.thumb {
	right: 0%;
}
.projects.is-animated .left.thumb {
	left: 0%;
}
.mockup {
	padding-bottom: 8%;
}
.mockup img {
	width: 100%;
}
.mockup.pc {
	width: 100%;
	height: 100%;
}
.mockup.pc .mask {
	width: 85.5rem;
	height: 56%;
	overflow: hidden;
	left: 5%;
	top: 5.5%;
}
.mockup.pc .device {
	width: 100%;
}
.mockup.mobile {
	width: 25%;
	height: 100%;
	top: -64%;
	left: 75%;
}
.mockup.mobile2 {
	width: 35%;
	height: 100%;
	top: 6%;
	left: 45%;
}
.mockup.mobile .mask {
	width: 20.8rem;
	height: 37%;
	overflow: hidden;
	left: 7%;
	top: 8%;
	border-radius: 0.5vw 0.5vw 0.5vw 0.5vw;
}
.mockup.mobile2 .mask {
	width: 28.8rem;
	height: 49%;
	overflow: hidden;
	left: 8%;
	top: 13%;
	border-radius: 1vw 1vw 0 0;
}
.mockup.mobile .device {
	width: 100%;
}
.projects .desc {
	height: 30vw;
	width: 30%;
	max-width: 68rem;
	letter-spacing: 0px;
	line-height: 1.7;
}
.projects .desc .sub_title {
	color: #00d9a6;
	font-size: 1.4rem;
	font-weight: 500;
	position: relative;
	left: 3.2rem;
	margin: 3rem 0;
}
.projects .desc .sub_title:before {
	content: '';
	position: absolute;
	width: 0.4rem;
	height: 0.2rem;
	border-radius: 40px;
	background: linear-gradient(-90deg, #9be15d 5.61%, #00d9a6 93.8%);
	top: 50%;
	transform: translateY(-50%);
	left: -3.5rem;
}
.projects .desc .sub_title:after {
	content: '';
	position: absolute;
	width: 1.5rem;
	height: 0.2rem;
	border-radius: 40px;
	background: linear-gradient(-90deg, #9be15d 5.61%, #00d9a6 93.8%);
	top: 50%;
	transform: translateY(-50%);
	left: -2.5rem;
}
.projects .desc .title {
	font-size: 3.8rem;
}
.projects .desc .title,
.projects .desc .title+p {
	margin-bottom: 3rem;
}
.projects .desc .desc_list {
	margin-bottom: 4rem;
}
.projects .desc .desc_list>li {
	height: 3.5rem;
	line-height: 3.5rem;
	display: flex;
	margin-bottom: 2rem;
}
.projects .desc .desc_list>li {
	position: relative;
	padding-left: 2.4rem;
}
.projects .desc .desc_list>li:before {
	content: '';
	position: absolute;
	width: 1rem;
	height: 0.3rem;
	border-radius: 40px;
	top: 50%;
	transform: translateY(-50%);
	background: linear-gradient(-90deg, #9be15d 5.61%, #00d9a6 93.8%);
	left: 0;
}
.projects .desc .desc_list .title {
	min-width: 7rem;
	font-size: 2rem;
	color: #555;
	text-align: justify;
	letter-spacing: 0.6rem;
}
.projects .desc .desc_list .l-2 {
	letter-spacing: 0px;
}
.projects .desc .desc_list .content {
	font-size: 2rem;
	text-align: justify;
}
.projects .desc .desc_list .content i:not(:last-child) {
	margin-right: 1rem;
}
.projects .desc .desc-btn {
	display: flex;
	gap: 3.2rem;
}
/* ========================================================= */
/* figma */
/* ========================================================= */
.figma {
	position: relative;
	width: 386px;
	height: 800px;
	background: url(../images/teamphone.png) no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
	left: 50%;
	top: -5%;
	transform: translateX(-50%);
}
.crop {
	overflow: hidden;
	width: 361px;
	height: 730px;
	display: block;
	position: absolute;
	content: '';
	z-index: 8;
	top: 40px;
	left: 10px;
	border-radius: 20px;
}
iframe {
	display: block;
	width: 361px;
	height: 738px;
}
@media (min-width: 901px) {
	:root {
		font-size: 64.5%;
	}
}
@media (min-width: 501px) and (max-width: 900px) {
	:root {
		font-size: 50.5%;
	}
}
@media (max-width: 500px) {
	:root {
		font-size: 50.5%;
	}
}
/* Graphic_Design */
.card img {
	width: 800px;
	height: 596px;
}
.bi img {
	width: 800px;
	height: 596px;
}
/*# sourceMappingURL=main.css.map */
/* circle */
.charts {
	width: 80%;
	margin: 3rem auto;
	display: flex;
	justify-content: space-between;
}
.charts .chart {
	margin: 0 20px;
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.charts .chart h2 {
	position: absolute;
	left: 50%;
	top: 45%;
	transform: translate(-50%, -50%);
	margin: 0;
	font-size: 5rem;
	font-weight: 600;
	color: #00d9a6;
	background: linear-gradient(-90deg, #9be15d 5.61%, #00d9a6 93.8%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
.chart_text {
	font-size: 2rem;
	padding: 16px;
	position: absolute;
	top: 50%;
	color: #00d9a6;
}
.charts .chart svg {
	width: 200px;
	height: 200px;
	border-radius: 45px 176.5px 176.5px 176.5px;
	background: #fff;
	/* black-shadow */
	box-shadow: 4px 4px 50px 0px rgba(0, 0, 0, 0.09);
}
.charts .chart svg circle {
	fill: #fff;
	stroke-width: 8;
	stroke: #ffc114;
	stroke-dasharray: 628;
	stroke-dashoffset: 628;
	/* animation: line 2s infinite; */
	transform: rotate(270deg);
	transform-origin: 50% 40%;
	stroke-linecap: round;
}
/* Introduction */
.intro_text {
	font-size: 6rem;
	font-weight: 600;
	line-height: 75px;
	text-align: center;
}
.intro_text span {
	color: #00d9a6;
}
.intro_bot {
	display: flex;
	font-size: 3rem;
	justify-content: center;
	margin-top: 15rem;
	margin-bottom: 10rem;
}
/* footer */
footer {
	display: flex;
	margin-bottom: 15rem;
	justify-content: center;
}
.footer_box {
	display: flex;
	width: 1596px;
	height: 400px;
	padding: 50px 0;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	gap: 30px;
	border-radius: 50px;
	background: var(--gradient2, linear-gradient(90deg, #9be15d 19.45%, #00d9a6 108.2%));
}
.contact {
	font-size: 6rem;
	color: #fff;
	font-weight: 600;
}
.lottie2 {
	width: 300px;
}
.lottie {
	width: 500px;
	margin-top: 5rem;
}
.aboutme {
	width: 100%;
	height: 700px;
}
.about_df {
	display: flex;
	gap: 8rem;
	justify-content: center;
}
.about_text {
	font-size: 1.6rem;
	line-height: 3.2rem;
	text-align: center;
}
.about_text span {
	font-size: 3rem;
	color: #00d9a6;
	font-weight: 500;
	line-height: 4rem;
}
.about_left {
	margin-top: 4rem;
	line-height: 3.8rem;
}
.about_left div {
	font-size: 1.6rem;
	color: #04e8b2;
	font-weight: bold;
}
.about_left p {
	font-size: 1.8rem;
}
.about_right {
	margin-top: 4rem;
	line-height: 3.8rem;
}
.about_right p {
	font-size: 1.8rem;
}
.about_right div {
	font-size: 1.6rem;
	color: #04e8b2;
	font-weight: bold;
}
.about_right .about_p {
	font-size: 1.5rem;
}
.footer_text {
	color: #fff;
	font-size: 3rem;
	font-weight: 400;
	line-height: 40px;
	text-align: center;
}
.footer_call a {
	display: flex;
	padding: 9px 30px;
	justify-content: space-between;
	align-items: center;
	border-radius: 30px;
	background: var(--text, #25262a);
	box-shadow: 6px 6px 37px 6px rgba(37, 38, 42, 0.49);
	color: #fff;
	gap: 3rem;
}



/* media */
@media (min-width: 501px)and (max-width: 1000px) {
	header .gnb {
		margin-left: 10%;
		display: flex;
		flex-direction: row;
	}
	.df{
		display: flex;
		flex-direction: column;
	}
	header .hero-btn{
		width: 32%;
		margin-left: 35%;
		display: flex;
		flex-direction: row;
	}
	header .hero-text{
		margin-left: 30rem;
	}
	.profile img{
		width: 60%;
		margin-left: 22%;
		margin-top: 10%;
	}
	.projects .desc.left{
		left: 5%;
	}
	.projects.is-animated .right.thumb{
		right: -20%;
		top: 100px;
	}
	.projects.is-animated .left.thumb{
		top: 100px;
		left: 5%;
	}
	.mockup.pc .mask{
		height: 32%;
		left: 3.5%;
		top: 3%;
		width: 54rem;
	}
	.mockup img{
		width: 90%;
	}

	.mockup.pc .device{
		width:70%;
	}
	.mockup.mobile{
		width: 18%;
		top: -83%;
		left: 52%;
	}
	.mockup.mobile .mask{
		width: 13.5rem;
		height: 22.5%;
		left: 7%;
		top: 4%;
	}
	/* figma */
	.figma{
		width: 300px;
		height: 600px;
		left: 35%;
		top: -5%;
	}
	.crop{
		width: 279px;
		height: 546px;
		top: 30px;
		left: 10px;
	}
	iframe{
		width: 280px;
		height: 544px;
	}
	/* Graphic Design */
	.card img{
		width: 400px;
		height: 300px;
	}
	.bi img{
		width: 400px;
		height: 300px;
	}
	/* .charts */
	.charts{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.charts .chart svg{
		width: 140px;
		height: 140px;
	}
	/* footer */
	.footer_box{
		width: 800px;
		height: 300px;
	}
	.contact{
		font-size: 4rem;
	}
	.footer_text{
		font-size: 2.5rem;
	}

}


@media (min-width: 501px) and (max-width: 500px) {
	header .gnb {
		margin-left: auto;
	}
	.hero-text{
		width: 52.4rem;
	}
	.df{
		display: flex;
		flex-direction: column;
	}
	.Graphic_Design{
		width: 100%;
	}
	.intro_text {
		font-size: 4rem;
	}
	.footer_box{
		width: 100%;
		height: 200px;
	}
	.contact{
		font-size: 3rem;
	}
	.footer_text{
		font-size: 3rem;
	}
	
}

@media (max-width: 500px) {
	header .gnb {
		margin-left: auto;
	}
	.df{
		display: flex;
		flex-direction: column;
	}
	.intro_box {
		width: 100%;
	}
	.intro_text {
		font-size: 4rem;
	}
	.footer_box{
		width: 100%;
		height: 200px;
	}
	.contact{
		font-size: 3rem;
	}
	.footer_text{
		font-size: 2rem;
	}
	
}



/* ========================================================= */
/* projects */
/* ========================================================= */
.projects article {
	height: 0;
	padding-bottom: 54%;
	width: 100%;
	overflow: hidden;
}
@media (min-width: 901px) {
	.projects article {
		height: 60%;
	}
}
@media (min-width: 501px) and (max-width: 900px) {
	.projects article {
		height: 400px;
		display: flex;
	}
}
@media (max-width: 500px) {
	.projects article {
		height: 80%;
	}
}