:root {
	font-size: 62.5%;
	--fa-rotate-angle: 45deg;
}

.pr {
	position: relative;
}

.pa {
	position: absolute;
}

.df {
	display: flex;
}

.profile img {
	width: 100%;
	height: 600px;
	margin-left: 20%;
	border-radius: 20px;
}

.flexbox {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
}

.container {
	width: 100%;
	max-width: 160rem;
	margin: auto;
}

body {
	font-family: 'Pretendard', sans-serif;
	font-size: 1.6rem;
	color: #25262a;
	letter-spacing: -2px;
}

a {
	color: #25262a;
	font-size: 1.6rem;
	letter-spacing: 0px;
}

/* ========================================================= */
/* button */
/* ========================================================= */
.button {
	padding: 1.1rem 3rem;
	border-radius: 3rem;
	background: linear-gradient(260deg, #9be15d 5.61%, #00d9a6 93.8%);
	line-height: 1.7;
	transition: all 0.5s;
	color: #fff;
	/* btn-shadow */
	box-shadow: 1px 1px 5px 1px rgba(0, 217, 166, 10);
}

.button:hover {
	border-radius: 3rem;
	background: radial-gradient(150.69% 139.2% at 50% 56.52%, #9be15d 0%, #00d9a6 100%);
	box-shadow: 0px 0px 10px 6px rgba(0, 217, 166, 0.46);
}

.button i {
	margin-right: 0.8rem;
}

.collapsible {
	background-color: #ffffff;
	color: #000;
	cursor: pointer;
	padding: 18px;
	width: 85%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 5px;
	box-shadow: 0.7px 0.7px 0.7px 0.7px rgba(0, 0, 0, 0.30);
	margin-left: 7%;
	border-radius: 5px;
}

.actives,
.collapsible:hover {
	background-color: #f1f1f1;
}

.content_box {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: #f1f1f1;
	width: 85%;
	height: 600px;
	margin-left: 7%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.content_box2 {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: #f1f1f1;
	width: 85%;
	height: 900px;
	margin-left: 7%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.figma_box {
	display: flex;
	justify-content: center;
	gap: 10%;
}

.figma_box>img {
	width: 30%;
}

.today {
	display: flex;
}


.collapsible::after {
	content: '▼';
	color: #000;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

.actives::after {
	content: "▲";
}

.code_img {
	width: 50%;
	display: flex;
	gap: 5px;
}

.code_img>img {
	width: 50%;
}

.code_box {
	line-height: 25px;
	font-size: 1.6rem;
	letter-spacing: 0.1px;
	text-align: center;
	margin-top: 1%;
}


/* ========================================================= */
/* section */
/* ========================================================= */

.section_title .point {
	color: #00d9a6;
}

.section_title {
	margin: 0 auto 2em;
	color: #25262a;
	font-size: 50px;
	font-weight: 500;
	height: 9rem;
	line-height: 9rem;
	display: table;
	white-space: nowrap;
}

.section_title:before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 10px;
	height: 4px;
	border-radius: 40px;
	background: linear-gradient(-90deg, #9be15d 5.61%, #00d9a6 93.8%);
}

.section_title:after {
	content: '';
	position: absolute;
	width: 4rem;
	height: 4px;
	border-radius: 40px;
	background: linear-gradient(-90deg, #9be15d 5.61%, #00d9a6 93.8%);
	margin-left: 0rem;
	top: 0;
	left: 15px;
}

.section_title span.line {
	content: '';
	position: relative;
	top: 90px;
	left: 100%;
	width: 10px;
	height: 4px;
	border-radius: 40px;
	background: linear-gradient(90deg, #9be15d 5.61%, #00d9a6 93.8%);
	display: block;
}

.section_title span.line:before {
	content: '';
	position: absolute;
	width: 4rem;
	height: 4px;
	border-radius: 40px;
	background: linear-gradient(90deg, #9be15d 5.61%, #00d9a6 93.8%);
	top: 0;
	left: -50px;
}

section {
	margin-bottom: 15rem;
}

/* ========================================================= */
/* header */
/* ========================================================= */

header .container {
	justify-content: center;
}

header {
	margin-bottom: 20rem;
}

header .gnb {
	padding: 5rem 0;
	margin-left: 26.6rem;
	gap: 3.2rem;
}

header ul li a {
	font-size: 1.8rem;
}

header .hero-left {
	margin-top: 10vw;
	flex-direction: column;
	gap: 10rem;
}

header .hero-text {
	box-sizing: border-box;
	width: 54.4rem;
	font-weight: 600;
	overflow: hidden;
	height: 9rem;
	padding: 1.6rem;
	margin-left: 25rem;
}

header .hero-text:before {
	content: '[';
	left: 0;
	top: 4rem;
}

header .hero-text:after {
	content: ']';
	position: absolute;
	right: 30px;
	top: 4rem;
}

header .hero-text:after,
header .hero-text:before {
	color: #16a085;
	font-size: 4rem;
	line-height: 3.5rem;
	animation-name: opacity;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

header .hero-text-1 {
	display: inline-block;
	margin-left: 3rem;
	color: #25262a;
	font-size: 4rem;
	font-weight: 900;
	line-height: 9rem;
}

header .hero-text-2 {
	position: absolute;
	right: 6rem;
	top: 2rem;
	animation-name: change;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	color: #50535c;
	font-size: 4rem;
	font-style: normal;
	font-weight: 400;
	line-height: 8rem;
	/* 156% */
	flex-direction: column;
}

header .hero-text-2 li {
	line-height: 8rem;
	margin: 0;
}

header .hero-btn {
	justify-content: center;
	gap: 4rem;
	margin-left: 85px;
}

header .hero-img {
	width: 95.2rem;
	padding-bottom: 48.5%;
	height: 0;
}

header .hero-img img {
	width: 60%;
	-o-object-fit: scale-down;
	object-fit: scale-down;
	position: absolute;
	top: -7rem;
	left: 25rem;
}

/* ========================================================= */
/* about me */
/* ========================================================= */

.about {
	letter-spacing: -1px;
}

.about .df {
	gap: 6.4rem;
	justify-content: center;
	line-height: 1.75;
}

.about .left {
	width: 52.8rem;
	background-color: #ecf2f6;
	padding: 3.2rem;
	box-sizing: border-box;
	border-radius: 2rem;
}

.about .left div {
	font-size: 2rem;
}

.about .left div:not(:first-child) {
	margin-top: 2rem;
}

.about .left p {
	letter-spacing: 0px;
	color: #50535c;
}

.about .right {
	width: 52.8rem;
	background-color: #ecf2f6;
	padding: 3.2rem;
	box-sizing: border-box;
	border-radius: 2rem;
}

.about .right div {
	font-size: 2rem;
}

.about .right div:not(:first-child) {
	margin-top: 2rem;
}

.about .right p {
	color: #50535c;
}

/* ========================================================= */
/* projects */
/* ========================================================= */
.projects .container {
	width: 100%;
	height: 100%;
	margin-top: 6.4rem;
}

.projects .thumb {
	height: 47rem;
	width: 57%;
	max-width: 95.2rem;
	transition: left 1s ease-in-out, right 1s ease-in-out;
}

.projects .desc.left {
	left: 0%;
}

.projects .desc.right {
	right: 2%;
}

.projects .thumb.left {
	left: -100%;
}

.projects .thumb.right {
	right: -100%;
}

.projects.is-animated .right.thumb {
	right: 0%;
	background: #fff;
	border-radius: 10px;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
	top: 80px;
}

.projects.is-animated .left.thumb {
	left: 0%;
	background: #fff;
	border-radius: 10px;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
	top: 80px;
}

.mockup {
	padding-bottom: 22%;
}

.mockup img {
	width: 100%;
}

.mockup.pc {
	width: 100%;
	height: 100%;
}

.mockup.pc .mask {
	width: 85.5rem;
	height: 63%;
	overflow: hidden;
	left: 3%;
	top: 3%;
	border-radius: 10px;
}

.mockup.pc .device {
	width: 100%;
}

.projects .desc {
	height: 30vw;
	width: 30%;
	max-width: 68rem;
	letter-spacing: 0px;
	line-height: 1.7;
}

.projects .desc .sub_title {
	color: #00d9a6;
	font-size: 1.8rem;
	font-weight: 500;
	position: relative;
	left: 3.2rem;
	margin: 3rem 0;
}

.projects .desc .sub_title:before {
	content: '';
	position: absolute;
	width: 0.4rem;
	height: 0.2rem;
	border-radius: 40px;
	background: linear-gradient(-90deg, #9be15d 5.61%, #00d9a6 93.8%);
	top: 50%;
	transform: translateY(-50%);
	left: -3.5rem;
}

.projects .desc .sub_title:after {
	content: '';
	position: absolute;
	width: 1.5rem;
	height: 0.2rem;
	border-radius: 40px;
	background: linear-gradient(-90deg, #9be15d 5.61%, #00d9a6 93.8%);
	top: 50%;
	transform: translateY(-50%);
	left: -2.5rem;
}

.projects .desc .title {
	font-size: 3.8rem;
}

.projects .desc .title,
.projects .desc .title+p {
	margin-bottom: 3rem;
}

.projects .desc .desc_list {
	margin-bottom: 5rem;
}

.projects .desc .desc_list>li {
	height: 3.5rem;
	line-height: 3.5rem;
	display: flex;
	margin-bottom: 2rem;
}

.projects .desc .desc_list>li {
	position: relative;
	padding-left: 2.4rem;
}

.projects .desc .desc_list>li:before {
	content: '';
	position: absolute;
	width: 1rem;
	height: 0.3rem;
	border-radius: 40px;
	top: 50%;
	transform: translateY(-50%);
	background: linear-gradient(-90deg, #9be15d 5.61%, #00d9a6 93.8%);
	left: 0;
}

.projects .desc .desc_list .title {
	min-width: 10rem;
	font-size: 2rem;
	color: #555;
	text-align: justify;
	letter-spacing: 0.6rem;
}

.projects .desc .desc_list .l-2 {
	letter-spacing: 0px;
}

.projects .desc .desc_list .content {
	font-size: 1.6rem;
	text-align: justify;
	margin-left: -20px;
}

.projects .desc .desc_list .content i:not(:last-child) {
	margin-right: 1rem;
}

.projects .desc .desc-btn {
	display: flex;
	gap: 4rem;
}



/* ========================================================= */
/* circle */
/* ========================================================= */
.charts {
	width: 80%;
	margin: 3rem auto;
	display: flex;
	justify-content: space-between;
}

.charts .chart {
	margin: 0 20px;
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.charts .chart h2 {
	position: absolute;
	left: 50%;
	top: 45%;
	transform: translate(-50%, -50%);
	margin: 0;
	font-size: 5rem;
	font-weight: 600;
	color: #00d9a6;
	background: linear-gradient(-90deg, #9be15d 5.61%, #00d9a6 93.8%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.chart_text {
	font-size: 2rem;
	padding: 16px;
	position: absolute;
	top: 50%;
	color: #00d9a6;
}

.charts .chart svg {
	width: 200px;
	height: 200px;
	border-radius: 45px 176.5px 176.5px 176.5px;
	background: #fff;
	/* black-shadow */
	box-shadow: 4px 4px 50px 0px rgba(0, 0, 0, 0.09);
}

.charts .chart svg circle {
	fill: #fff;
	stroke-width: 8;
	stroke: #ffc114;
	stroke-dasharray: 628;
	stroke-dashoffset: 628;
	/* animation: line 2s infinite; */
	transform: rotate(270deg);
	transform-origin: 50% 40%;
	stroke-linecap: round;
}

/* ========================================================= */
/* Introduction */
/* ========================================================= */
.intro_text {
	font-size: 5.5rem;
	font-weight: 600;
	line-height: 75px;
	text-align: center;
}

.intro_text span {
	color: #00d9a6;
}

.intro_bot {
	display: flex;
	font-size: 2.5rem;
	justify-content: center;
	margin-top: 15rem;
	margin-bottom: 10rem;
}

footer {
	display: flex;
	margin-bottom: 15rem;
	justify-content: center;
}

.footer_box {
	display: flex;
	width: 1596px;
	height: 400px;

	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	gap: 30px;
	border-radius: 50px;
	background: var(--gradient2, linear-gradient(90deg, #9be15d 19.45%, #00d9a6 108.2%));
}

.contact {
	font-size: 5rem;
	color: #fff;
	font-weight: 600;
}

.lottie2 {
	width: 300px;
}

.lottie {
	width: 500px;
	margin-top: 5rem;
}

.aboutme {
	width: 100%;
	margin-bottom: 20rem;
}

.about_text {
	font-size: 1.6rem;
	line-height: 3.2rem;
	text-align: center;
}

.about_text span {
	font-size: 3rem;
	color: #00d9a6;
	font-weight: 700;
	line-height: 5rem;
}

.about_upbox {
	margin-bottom: 10px;
}

.about_downbox {
	font-size: 20px;
}

.about_left {
	margin-top: 4rem;
	line-height: 3.8rem;
}

.about_left div {
	font-size: 1.6rem;
	color: #04e8b2;
	font-weight: 700;
}

.about_left p {
	font-size: 1.8rem;
}

.about_right {
	margin-top: 4rem;
	line-height: 3.8rem;
}

.about_right p {
	font-size: 1.8rem;
}

.about_right div {
	font-size: 1.6rem;
	color: #04e8b2;
	font-weight: 700;
}

.about_right .about_p {
	font-size: 1.5rem;
}

.footer_text {
	color: #fff;
	font-size: 2.5rem;
	font-weight: 400;
	line-height: 40px;
	text-align: center;
}

.footer_call a {
	display: flex;
	padding: 9px 30px;
	justify-content: space-between;
	align-items: center;
	border-radius: 30px;
	background: var(--text, #25262a);
	box-shadow: 6px 6px 37px 6px rgba(37, 38, 42, 0.49);
	color: #fff;
	gap: 3rem;
}

.w3c_box {
	display: flex;
	justify-content: center;
}

/* ========================================================= */
/* projects */
/* ========================================================= */
.projects article {
	height: 0;
	padding-bottom: 40%;
	width: 100%;
	overflow: hidden;
	padding-top: 5%;
}

.figma_img {
	position: absolute;
	top: 0px;
	width: 20%;
	left: 40%;
}

.figma_img2 {
	position: absolute;
	top: 0px;
	width: 20%;
	left: 60%;
}

.figma_img3 {
	position: absolute;
	top: 0px;
	width: 20%;
	left: 80%;
}

iframe {
	display: block;
	width: 361px;
	height: 738px;
}


/* ========================================================= */
/* media */
/* ========================================================= */

/* @media (min-width: 1281px) {

} */

/* 데스크탑 */
@media (min-width: 1025px) and (max-width: 1280px) {
	.projects article {
		height: 60%;
	}

	:root {
		font-size: 64.5%;
	}

	header .hero-text {
		margin-left: 10rem;
	}

	.profile img {
		margin-left: 5%;
	}

	header .gnb {
		margin-left: 12rem;
	}

	header .hero-btn {
		margin-left: 7%;
	}

	header .hero-text-2 {
		right: 8rem;
	}

	/* mokup */
	.mockup.pc {
		top: 10%;
		left: 10%;
	}

	.mockup.pc .device {
		width: 75%;
	}

	.mockup.pc .mask {
		width: 58.8rem;
		height: 62.5%;
		left: -5.2%;
		top: -1.2%;
	}

	.projects .desc.left {
		left: 8%;
	}

	.projects article {
		padding-bottom: 65%;
	}

	.projects.is-animated .right.thumb {
		right: 2%;
		top: 100px;
	}

	.projects.is-animated .left.thumb {
		left: 3%;
	}

	.projects .thumb {
		height: 44rem;
		width: 53%;
	}

	/* charts */
	.charts {
		width: 95%;
	}

	/* footer */
	.footer_box {
		width: 1100px;
	}

	.contact {
		font-size: 4.5rem;
	}

	.footer_text {
		font-size: 2.3rem;
	}
}


/* ========================================================= */
/* 태블릿 */
/* ========================================================= */

@media (min-width: 768px)and (max-width: 1024px) {
	:root {
		font-size: 50.5%;
	}

	.projects article {
		height: 400px;
		display: flex;
	}

	header .gnb {
		margin-left: 10%;
		display: flex;
		flex-direction: row;
	}

	.df {
		display: flex;
		flex-direction: column;
	}

	header .hero-btn {
		width: 32%;
		margin-left: 35%;
		display: flex;
		flex-direction: row;
	}

	header .hero-text {
		margin-left: 30rem;
	}

	.profile img {
		width: 50%;
		margin-left: 25%;
		margin-top: 15%;
	}

	.aboutme {
		height: 300px;
	}

	.about_text span {
		line-height: 4.5rem;
	}

	.about_downbox {
		line-height: 30px;
	}

	.projects .desc {
		width: 39%;
	}

	.projects .desc.left {
		left: 5%;
	}

	.projects.is-animated .right.thumb {
		right: 2%;
		top: 160px;
	}

	.projects.is-animated .left.thumb {
		top: 90px;
		left: 3%;
	}

	.projects article {
		height: 350px;
	}

	.projects .desc .title {
		font-size: 4.5rem;
	}

	.projects .desc .title+p {
		font-size: 2.2rem;
	}

	.projects .desc .sub_title {
		font-size: 2rem;
	}

	.projects .desc .desc_list .title {
		font-weight: bold;
	}

	.projects .desc .desc_list .content {
		font-size: 2rem;
	}

	.projects .thumb {
		height: 37rem;
		width: 50%;
	}

	.mockup.pc .mask {
		height: 57.5%;
		left: 3.5%;
		top: 7%;
		width: 58.5rem;
	}

	.mockup img {
		width: 100%;
	}

	.mockup.pc .device {
		width: 70%;
	}


	.button {
		padding: 1.6rem 4rem;
	}

	/* .charts */
	.charts {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.charts .chart svg {
		width: 140px;
		height: 140px;
	}

	.charts .chart svg circle {
		stroke: none;
	}

	/* footer */
	.footer_box {
		width: 800px;
		height: 300px;
	}

	.contact {
		font-size: 4rem;
	}

	.footer_text {
		font-size: 2.5rem;
	}

	.intro_bot {
		margin-top: 10rem;
	}

	.figma_img {
		width: 135px;
	}
}

/* ========================================================= */
/* 모바일 */
/* ========================================================= */

@media (max-width: 767px) {
	:root {
		font-size: 50.5%;
	}

	.df {
		display: flex;
		flex-direction: column;
	}

	.hero-text {
		width: 52.4rem;
	}

	/* header */
	header .gnb {
		display: flex;
		flex-direction: row;
		margin-left: 22rem;
	}

	header .hero-text {
		margin-left: 20rem;
	}

	header .hero-text:after {
		right: 20px;
	}

	header .hero-btn {
		width: 80%;
		display: flex;
		flex-direction: row;
		margin-bottom: 10vw;
	}

	header ul li a {
		font-size: 2rem;
	}

	.profile img {
		width: 55%;
		height: 100%;
		margin: 0 25% 0 25%;
	}

	/* section */
	.section_title {
		font-size: 40px;
	}

	/* about */
	.about_text span {
		font-size: 3.6rem;
		line-height: 5.5rem;
	}

	.about_downbox {
		font-size: 2.4rem;
		line-height: 28px;
	}

	.aboutme {
		height: 200px;
	}

	.mockup.pc {
		width: 70%;
		top: 6%;
	}

	.mockup img {
		width: 100%;
	}

	.mockup.pc .mask {
		width: 43rem;
		height: 67%;
		left: 5%;
		top: 1%;
	}

	.projects .desc {
		width: 34%;
	}

	.projects .desc.left {
		left: 5%;
		width: 90%;
	}

	.projects .desc.right {
		right: 21%;
		width: 90%;
	}

	.projects.is-animated .right.thumb {
		right: 45%;
		top: 700px;
	}

	.projects.is-animated .left.thumb {
		top: 750px;
		left: 5%;
	}

	.projects .desc .sub_title {
		font-size: 2rem;
	}

	.projects .desc .desc_list .title {
		font-size: 2rem;
		font-weight: bold;
	}

	.projects .desc .desc_list .content {
		font-size: 2rem;
		position: absolute;
		top: 30px;
		left: 40px;
	}

	.projects article {
		height: 80%;
		padding-bottom: 135%;
	}

	.projects .desc .title,
	.projects .desc .title+p {
		font-size: 2rem;
	}

	.projects .desc .title {
		font-size: 4rem;
	}

	.projects .desc .desc_list>li {
		display: flex;
		flex-direction: column;
		height: 50px;
		width: 300px;
	}

	.projects .desc .desc_list>li:before {
		top: 25%;
	}

	.projects .thumb {
		height: 30rem;
		width: 50%;
	}

	.button {
		padding: 1.6rem 4rem;
	}

	/* charts */
	.charts {
		width: 100%;
	}

	.charts .chart svg {
		width: 100px;
		height: 100px;
	}

	.charts .chart svg circle {
		stroke: none;
	}

	.charts .chart h2 {
		font-size: 4rem;
	}

	.chart_text {
		font-size: 1.8rem;
	}

	.figma_img {
		width: 110px;
		top: 700px;
		left: 5%;
	}

	/* footer */
	.intro_text {
		font-size: 3.8rem;
		line-height: 40px;
	}

	.intro_bot {
		margin-top: 10rem;
		font-size: 2.2rem;
		letter-spacing: 0.1px;
	}

	.footer_box {
		width: 90%;
		height: 200px;
	}

	.contact {
		font-size: 2.6rem;
		letter-spacing: 0.1px;
		font-weight: bold;
		margin-left: 10px;
	}

	.footer_text {
		font-size: 1.7rem;
		letter-spacing: 0.1px;
	}

	.footer_call a {
		padding: 8px 20px;
		font-size: 1.2rem;
		margin-right: 10px;
	}
}

@media (max-width: 500px) {
	:root {
		font-size: 50.5%;
	}

	.df {
		display: flex;
		flex-direction: column;
	}

	.profile img {
		width: 55%;
		height: 100%;
		margin: 0 25% 0 25%;
	}

	header .gnb {
		margin-left: 6rem;
	}

	header .hero-text {
		margin-left: 4rem;
	}

	header .hero-btn {
		width: 70%;
	}

	.about_text span {
		font-size: 3.2rem;
	}

	.about_downbox {
		font-size: 2.2rem;
	}

	.mockup.pc .mask {
		width: 28rem;
	}

	.projects article {
		padding-bottom: 215%;
	}

	.code_img {
		width: 50%;
		display: flex;
		flex-direction: column;
	}

	.code_img>img {
		width: 100%;
	}

	.charts .chart {
		margin: 0 8px;
	}

	.charts .chart h2 {
		font-size: 3.8rem;
	}

	.chart_text {
		font-size: 1.6rem;
		padding: 14px;
		top: 48%;
	}

	.charts .chart svg {
		width: 70px;
		height: 70px;
	}

	.intro_bot {
		font-size: 2.2rem;
		text-align: center;
	}

	.contact {
		padding-left: 5px;
	}

	.projects .desc .desc-btn {
		gap: 2rem;
		display: flex;
		flex-direction: column;
		width: 160px;
		text-align: center;
	}

	.projects .desc.left {
		left: 5%;
		width: 90%;
	}

	.projects .desc.right {
		right: 5%;
		width: 90%;
	}

	.projects.is-animated .right.thumb {
		right: 45%;
		top: 710px;
	}

	.projects.is-animated .left.thumb {
		top: 760px;
		left: 10%;
	}
}

