* {
    margin: 0;
    padding: 0;
    font-family: 'Pretendard', sans-serif;

}

#wrap {
    width: 100%;
}

html {
    font-size: 62.5%;
}


#lottie {
    width: 300px;
    position: absolute;
    left: 15%;
    top: 93.5%;
    
}
.project_box ul li {
    list-style: none;
    font-size: 2rem;
}

.flexbox {
    display: flex;
}

.container {
    width: 100%;
    max-width: 1600px;
    margin: auto;
    position: relative;
    padding-bottom: 93px;
}


.pa {
    position: absolute;
    top: 0;
}


/* header */
header {
    width: 100%;
    height: 57px;
}

.header_box {
    font-size: 1.8rem;
    position: relative;
}

.header_text {
    display: flex;
    line-height: 5rem;
    gap: 5.6rem;
    position: absolute;
    left: 40.5rem;
    top: 3.2rem;
}

.header_text a {
    text-decoration: none;
    color: #00d9a6;
}

/* container */

.content_text {
    width: 45.5%;
    height: 1100px;
}

.content_text1 {
    /* height: 870px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 17rem;
}

.about_line {
    width: 10px;
    height: 4px;
    border-radius: 40px;
    background: var(--gradient2, linear-gradient(90deg, #9BE15D 19.45%, #00D9A6 108.2%));
}

.about_line1 {
    width: 4rem;
    height: 4px;
    border-radius: 40px;
    background: var(--gradient2, linear-gradient(90deg, #9BE15D 19.45%, #00D9A6 108.2%));
}

.about_line2 {
    width: 4rem;
    height: 4px;
    border-radius: 40px;
    background: var(--gradient2, linear-gradient(90deg, #9BE15D 19.45%, #00D9A6 108.2%));
}

.about_line3 {
    width: 10px;
    height: 4px;
    border-radius: 40px;
    background: var(--gradient2, linear-gradient(90deg, #9BE15D 19.45%, #00D9A6 108.2%));
}

.linebox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 27px;
    padding-bottom: 40px;
}

.linebox1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 27px;
    padding-top: 47px;
}

.lineflex {
    width: 12%;
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
}

.lineflexs {
    width: 11%;
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
}

.lineflex1 {
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.lineflex2 {
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.project_line {
    width: 10px;
    height: 4px;
    border-radius: 40px;
    background: var(--gradient2, linear-gradient(90deg, #9BE15D 19.45%, #00D9A6 108.2%));
}

.project_line1 {
    width: 4rem;
    height: 4px;
    border-radius: 40px;
    background: var(--gradient2, linear-gradient(90deg, #9BE15D 19.45%, #00D9A6 108.2%));
}

.flexbox1 {
    width: 11%;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}

.flexbox2 {
    width: 9%;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}

.text {
    font-size: 1.6rem;
    color: #00D9A6;
    display: block;
    font-weight: 600;
    height: 145px;
}

.text1 {
    font-size: 1.6rem;
    color: #25262a;
    font-size: 50px;
    display: block;
    font-weight: 500;
    padding-right: 18px;
}

.text1 span {
    color: #00d9a6;
}

.project_text {
    color: #00d9a6;
    font-size: 1.6rem;
    font-weight: 400;
}

.text2 {
    font-size: 3.8rem;
    color: #000;
    font-weight: 400;
}

.text3 {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 28px;
}

.texts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    font-size: 20px;

}

.texts ul li {
    padding-top: 10px;
}

.li_box {
    display: flex;
    align-items: center;
    gap: 1.9rem;
    /* padding-bottom: 2.7rem; */
}

.li_text {
    font-size: 20px;
    line-height: 35px;
    font-weight: 400;
}

.texts ul li>span {
    width: 4px;
    height: 8px;
    transform: rotate(90deg);
    border-radius: 30px;
    background: var(--gradient2, linear-gradient(90deg, #9BE15D 19.45%, #00D9A6 108.2%));

}


.content_box {
    gap: 7rem;
    display: flex;
}
.content_box1 {
    gap: 4rem;
    display: flex;
}

.content_box a {
    text-decoration: none;
    color: #FFF;
}
.content_box1 a {
    text-decoration: none;
    color: #FFF;
}

.box1 {
    display: inline-flex;
    padding: 9px 30px;
    align-items: center;
    border-radius: 30px;
    background: var(--gradient, linear-gradient(260deg, #9BE15D 5.61%, #00D9A6 93.8%));
    box-shadow: 6px 6px 37px 6px rgba(0, 217, 166, 0.46);
    font-family: 'Pretendard', sans-serif;
    font-size: 16px;
    color: #fff;
    gap: 1rem;
    line-height: 1.7;
    cursor: pointer;
}

.box3 {
    display: inline-flex;
    padding: 9px 23px;
    align-items: center;
    border-radius: 30px;
    background: var(--gradient, linear-gradient(260deg, #9BE15D 5.61%, #00D9A6 93.8%));
    box-shadow: 6px 6px 37px 6px rgba(0, 217, 166, 0.46);
    font-family: 'Pretendard', sans-serif;
    font-size: 16px;
    color: #fff;
    gap: .5rem;
    line-height: 1.7;
    cursor: pointer;
}

.box4 {
    display: inline-flex;
    padding: 9px 23px;
    align-items: center;
    border-radius: 30px;
    background: var(--gradient, linear-gradient(260deg, #9BE15D 5.61%, #00D9A6 93.8%));
    box-shadow: 6px 6px 37px 6px rgba(0, 217, 166, 0.46);
    font-family: 'Pretendard', sans-serif;
    font-size: 16px;
    color: #fff;
    gap: .5rem;
    line-height: 1.7;
    cursor: pointer;
}

.box1 img {
    width: 22px;
    height: 22px;
    color: #fff;
}

.box1 a {
    color: #fff;
}

.box1_text {
    flex: 0 0 100px;
}

.box2 {
    display: inline-flex;
    padding: 9px 30px;
    align-items: center;
    border-radius: 30px;
    background: var(--gradient, linear-gradient(260deg, #9BE15D 5.61%, #00D9A6 93.8%));
    box-shadow: 6px 6px 37px 6px rgba(0, 217, 166, 0.46);
    font-family: 'Pretendard', sans-serif;
    font-size: 1.6rem;
    gap: 1rem;
    line-height: 16px;
    cursor: pointer;
}

.box2 img {
    width: 22px;
    height: 22px;
    color: #fff;
}

.content_img div {
    width: 92px;
    height: 92px;
    background: #202020;
    border-radius: 50px;
    color: #fff;
    font-size: 1.6rem;
    text-align: center;
    line-height: 9rem;
}


/* main */
.about_me_Bigbox {
    position: relative;
}


.about_me {
    width: 100%;
    gap: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 18px;
}

.about_box {
    width: 500px;
    min-height: 528px;
    background: rgb(236, 242, 246);
    margin-bottom: 60px;
    padding: 50px 45px 40px;
    border-radius: 30px;
    box-sizing: border-box;
    text-align: left;
    line-height: 26px;
}

.about_box div {
    font-size: 2rem;
    padding: 1.4rem 0 0 0;
}

.about_box p {
    font-size: 2rem;
    color: #7a7a7a;
    padding: 1rem 0 0 1rem;
}

.about_box span {
    font-size: 1.6rem;
    color: #7a7a7a;
    padding: 1rem 0 0 1rem;
}

.project {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 124px;
}

.project2 {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 377px;
}

.project3 {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 187px;
}

.project_box {
    display: flex;
    flex-direction: column;
}

.project_box ul li {
    padding-bottom: 1rem;
    font-weight: 400;
}

.skills {
    width: 100%;
    height: 762px;
    position: relative;
}

.skills_name {
    font-size: 1.6rem;
    color: #00D9A6;
    display: block;
    font-weight: 600;
    position: absolute;
    left: 20rem;
    top: -4rem;
}

.skills_bigbox {
    width: 100%;
    height: 300px;
    gap: 4rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.skills_box {
    width: 20rem;
    height: 200px;
    border-radius: 4.5rem 17.6rem 17.6rem 17.6rem;
    background: #FFF;
    /* black-shadow */
    box-shadow: 4px 4px 50px 0px rgba(0, 0, 0, 0.09);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.skills_box h2 {
    font-size: 6rem;
    color: #00D9A6;
}

.skills_box div {
    font-size: 1.6rem;
}

/* skills */


.bg_bigbox {
    width: 100%;
    height: 227px;
    display: flex;
    justify-content: center;
    font-weight: 500;
}

/* bg_text */
.bg_text {
    font-size: 6rem;
    display: flex;
    flex-direction: column;
    color: #25262a;
    font-weight: 600;
    line-height: 84px;
    text-align: center;
}

.bg_text span {
    color: #00D9A6;
}

/* bg_img */
.bg_img {
    width: 67%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

/* contact_me */
.contact_me {
    width: 100%;
    height: 400px;
    text-align: center;
    display: flex;
    justify-content: center;
    
}

.contact_text {
    width: 1596px;
    height: 350px;
    /* padding: 50px; */
    border-radius: 50px;
    background: var(--gradient2, linear-gradient(90deg, #9BE15D 19.45%, #00D9A6 108.2%));
}

.contact_box {
    display: flex;
    flex-direction: row;
    /* line-height: 6rem; */
    height: 314px;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}

.big {
    color: white;
    font-size: 6rem;
}

.mini {
    font-size: 3rem;
    font-weight: 400;
    line-height: 40px;
    padding-left: 400px;
}
.bg_bot{
    width: 100%;
}
.bg_bottext{
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    height: 250px;
}

.contact_text {
    color: white;
}

.contact_mebox {
    font-size: 1.5rem;
    color: #fff;
    width: 10%;
    height: 24px;
    display: inline-flex;
    padding: 9px 30px;
    align-items: center;
    border-radius: 30px;
    background: var(--gradient, linear-gradient(260deg, #9BE15D 5.61%, #00D9A6 93.8%));
    justify-content: center;
    /* btn-shadow */
    box-shadow: 6px 6px 37px 6px rgba(0, 217, 166, 0.46);
}

/* footer */
.footer_box {
    width: 100%;
    height: 160px;
    font-size: 1.4rem;
    background-color: #25262a;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: -0.176px;
}

/* skill */

.charts {
    width: 80%;
    margin: 3rem auto;
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.charts .chart {
    margin: 0 20px;
    position: relative;
}

.charts .chart h2 {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 8rem;
    font-weight: 600;
    color: #00d9a6;
}
.chart_box{
    width: 100%;
    display: flex;
    justify-content: center;
}

.chart_text {
    font-size: 2.4rem;
    padding: 15px;
    position: absolute;
    top: 14rem;
}

.charts .chart svg {
    width: 250px;
    height: 250px;
    border-radius: 45px 176.5px 176.5px 176.5px;
    background: #FFF;

    /* black-shadow */
    box-shadow: 4px 4px 50px 0px rgba(0, 0, 0, 0.09);
}

.charts .chart svg circle {
    fill: #fff;
    stroke-width: 20;
    /* stroke: #ffc114; */
    stroke-dasharray: 628;
    stroke-dashoffset: 628;
    /* animation: line 2s infinite; */
    transform: rotate(270deg);
    transform-origin: 50% 50%;
    stroke-linecap: round;

}

@keyframes line {
    form {
        stroke-dashoffset: 628;
    }

    to {
        stroke-dashoffset: 0;
    }
}

/* .charts .chart:nth-child(2) circle {
    stroke: #ff5248;
}

.charts .chart:nth-child(3) circle {
    stroke: #0e26ff;
}

.charts .chart:nth-child(4) circle {
    stroke: #ff00b3;
} */

.content {
    height: 100vh;
}



/* button */

body {
    width: 100%;
    height: 100%;
    /* position: fixed; */
    /* background-color: #333; */
}

.content {
    position: absolute;
    top: 43%;
    left: 19%;
    transform: translate(-50%, -50%);
    height: 160px;
    overflow: hidden;
    font-family: "Pretendard", sans-serif;
    font-size: 58px;
    line-height: 40px;
    color: #333;
}

.content__container {
    font-weight: 600;
    overflow: hidden;
    height: 51px;
    padding: 0 40px;
}

.content__container:before {
    content: "[";
    left: 0;
}

.content__container:after {
    content: "]";
    position: absolute;
    right: 0;
}

.content__container:after,
.content__container:before {
    position: absolute;
    top: 0;
    color: #16a085;
    font-size: 42px;
    line-height: 40px;
    -webkit-animation-name: opacity;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-name: opacity;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.content__container__text {
    display: inline;
    float: left;
    margin: 0;
}

.content__container__list {
    margin-top: 0;
    padding-left: 250px;
    text-align: left;
    list-style: none;
    -webkit-animation-name: change;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    animation-name: change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.content__container__list__item {
    line-height: 52px;
    margin: 0;
}

@-webkit-keyframes opacity {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@-webkit-keyframes change {

    0%,
    12.66%,
    100% {
        transform: translate3d(0, 0, 0);
    }

    16.66%,
    29.32% {
        transform: translate3d(0, -25%, 0);
    }

    33.32%,
    45.98% {
        transform: translate3d(0, -50%, 0);
    }

    49.98%,
    62.64% {
        transform: translate3d(0, -75%, 0);
    }

    66.64%,
    79.3% {
        transform: translate3d(0, -50%, 0);
    }

    83.3%,
    95.96% {
        transform: translate3d(0, -25%, 0);
    }
}

@keyframes opacity {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@keyframes change {

    0%,
    12.66%,
    100% {
        transform: translate3d(0, 0, 0);
    }

    16.66%,
    29.32% {
        transform: translate3d(0, -25%, 0);
    }

    33.32%,
    45.98% {
        transform: translate3d(0, -50%, 0);
    }

    49.98%,
    62.64% {
        transform: translate3d(0, -75%, 0);
    }

    66.64%,
    79.3% {
        transform: translate3d(0, -50%, 0);
    }

    83.3%,
    95.96% {
        transform: translate3d(0, -25%, 0);
    }
}

@media screen and (max-width: 1600px) {
    html {
        font-size: 62.5%;
    }
}

@media screen and (max-width: 1024px) {
    html {
        font-size: 62.5%;
    }

}

@media screen and (max-width: 768px) {
    html {
        font-size: 62.5%;
    }

}