* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

html {
    font-size: 62.5%;
}

.project_box ul li {
    list-style: none;
    font-size: 2rem;
}

.flexbox {
    display: flex;
}

#wrap {
    width: 100%;
}

/* header */
header {
    width: 100%;
    height: 50px;
}

.header_box {
    font-size: 1.8rem;
    position: relative;
}

.header_text {
    display: flex;
    line-height: 5rem;
    gap: 4rem;
    position: absolute;
    left: 40rem;
}

.header_text a {
    text-decoration: none;
    color: #00d9a6;
}

/* container */
.container {
    width: 100%;
    height: 870px;

}

.content_text {
    width: 50%;
    height: 870px;
}

.content_text1 {
    height: 870px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    padding: 0 20rem;
}

.text1 {
    font-size: 1.6rem;
    color: #00D9A6;
    display: block;
    font-weight: 600;
}

.text2 {
    font-size: 2rem;
    color: #000;
}

.text3 {
    font-size: 2rem;
    font-weight: 300;
}


.content_box {
    gap: 2rem;
    display: flex;
}

.content_box a {
    text-decoration: none;
    color: #FFF;
}

.box1 {
    display: inline-flex;
    padding: 9px 30px;
    align-items: center;
    border-radius: 30px;
    background: var(--gradient, linear-gradient(260deg, #9BE15D 5.61%, #00D9A6 93.8%));
    box-shadow: 6px 6px 37px 6px rgba(0, 217, 166, 0.46);
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    color: #fff;
    gap: .5rem;
    line-height: 1rem;
}

.box2 {
    display: inline-flex;
    padding: 9px 30px;
    align-items: center;
    border-radius: 30px;
    background: var(--gradient, linear-gradient(260deg, #9BE15D 5.61%, #00D9A6 93.8%));
    box-shadow: 6px 6px 37px 6px rgba(0, 217, 166, 0.46);
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.6rem;
    gap: .5rem;
    line-height: 1rem;
}
.box2 img{
    width: 22px;
    height: 22px;

}

.content_img div {
    width: 92px;
    height: 92px;
    background: #202020;
    border-radius: 50px;
    color: #fff;
    font-size: 1.6rem;
    text-align: center;
    line-height: 9rem;
}


/* main */
.about_me_Bigbox {
    position: relative;
}

.t1 {
    position: absolute;
    left: 15%;
    top: 2.5%;
}

.about_me {
    width: 100%;
    height: 900px;
    gap: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_box {
    width: 500px;
    min-height: 558px;
    background: rgb(236, 242, 246);
    margin-bottom: 60px;
    padding: 50px 45px 40px;
    border-radius: 30px;
    box-sizing: border-box;
    text-align: left;
}

.about_box div {
    font-size: 2rem;
    padding: 1rem 0 0 0;
}

.about_box p {
    font-size: 2rem;
    color: #7a7a7a;
    padding: 1rem 0 0 1rem;
}

.about_box span {
    font-size: 1.6rem;
    color: #7a7a7a;
    padding: 1rem 0 0 1rem;
}

.project {
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30rem;
}

.project_box {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.project_box ul li {
    padding-bottom: 1rem;
    font-weight: 400;
}

.skills {
    width: 100%;
    height: 650px;
    position: relative;
}

.skills_name {
    font-size: 1.6rem;
    color: #00D9A6;
    display: block;
    font-weight: 600;
    position: absolute;
    left: 30rem;
}

.skills_bigbox {
    width: 100%;
    height: 300px;
    gap: 4rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.skills_box {
    width: 20rem;
    height: 200px;
    border-radius: 4.5rem 17.6rem 17.6rem 17.6rem;
    background: #FFF;
    /* black-shadow */
    box-shadow: 4px 4px 50px 0px rgba(0, 0, 0, 0.09);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skills_box h2 {
    font-size: 6rem;
    color: #00D9A6;
}

.skills_box div {
    font-size: 1.6rem;
}

/* skills */


.bg_bigbox {
    width: 96%;
    height: 100px;
    display: flex;
    justify-content: center;
}

/* bg_text */
.bg_text {
    font-size: 1.5rem;
    font-weight: 400;
}

/* bg_img */
.bg_img {
    width: 50%;
    height: 100px;
    display: flex;
    flex-direction: column;
}

/* contact_me */
.contact_me {
    width: 100%;
    height: 400px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.contact_text {
    width: 1000px;
    height: 300px;
    background: #25262a;
    border-radius: 30px;
}

.contact_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 6rem;
    height: 300px;
    align-items: center;
}

.big {
    color: white;
    font-size: 4rem;
}

.mini {
    font-size: 1.5rem;
}

.contact_text {
    color: white;
}

.contact_mebox {
    font-size: 1.5rem;
    color: #fff;
    width: 10%;
    height: 24px;
    display: inline-flex;
    padding: 9px 30px;
    align-items: center;
    border-radius: 30px;
    background: var(--gradient, linear-gradient(260deg, #9BE15D 5.61%, #00D9A6 93.8%));
    justify-content: center;
    /* btn-shadow */
    box-shadow: 6px 6px 37px 6px rgba(0, 217, 166, 0.46);
}

/* footer */
.footer_box{
    width: 100%;
    height: 160px;
    font-size: 1.4rem;
    background-color: #25262a;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: -0.176px;
}

/* button */



/* icon */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  line-height: 30px;
}